# **************************************************************************** #
#                                                                              #
#                                                         :::      ::::::::    #
#    my.cnf                                             :+:      :+:    :+:    #
#                                                     +:+ +:+         +:+      #
#    By: apayet <apayet@student.42.fr>              +#+  +:+       +#+         #
#                                                 +#+#+#+#+#+   +#+            #
#    Created: 2023/03/07 13:30:54 by apayet            #+#    #+#              #
#    Updated: 2023/03/15 18:37:57 by apayet           ###   ########.fr        #
#                                                                              #
# **************************************************************************** #


[client-server]
port = 3306

[mysqld]
bind-address=0.0.0.0
